.header {
  display: flex;
  width: 100vw;
  z-index: 100;
  //position: absolute;
  height: 60px;
  //top: 0;
  position: sticky;
  top: -50px;
  transition: all 0.5s ease-in-out;

  &__wrapper {
    display: flex;
    margin: 0 auto;
    width: calc(100% - 40px);
    max-width: 1170px;
    align-items: center;
    justify-content: flex-start;

    height: 70px;
    position: sticky;
    top: 0;

    .icon {
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin-right: 10px;

      &:hover {
        transform: scale(.97);
      }
    }

    .github {
      position: absolute;
      margin-left: 200px;
      transition: all 2s ease-in-out;

      &:hover {
        transform: translate(350px, 0);
      }
    }
  }
}

.hide-header {
  height: 0;
}
