@import '../asserts/scss/colors';
@import '../asserts/scss/screens';

.skill {
  width: max-content;
  border-radius: 20px;
  display: flex;
  border: 1px solid $color-gray;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: aliceblue;
  margin-right: 10px;
  margin-bottom: 10px;
  transition: all .7s ease-in-out;

  @media screen and (max-width: $mobile) {
    padding: 5px 8px;
    margin-right: 5px;
    margin-bottom: 5px;
  }

  &__icon {
    width: 60px;
    margin-right: 10px;

    @media screen and (max-width: $tablet) {
      width: 45px;
      margin-right: 5px;
    }

    @media screen and (max-width: $mobile) {
      width: 30px;
      margin-right: 5px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    color: $color-gray;
    margin-bottom: 0;
    cursor: pointer;

    @media screen and (max-width: $tablet) {
      font-size: 14px;
    }
  }
  &:hover {
    transform: scale(.95);
  }
}