$color-white: #fff;
$color-light-green: #9adb66;
$color-semi-green: #88d04e;
$color-gray: #969697;
$color-light-gray: #e5e5e5;
$color-semi-gray: #c9cbcf;
$color-black: #000000;
$color-midle-black: #151515;
$color-light-black: #121212;
$color-black-21: #212121;
$color-black-1b: #1b1b1b;
$color-red: #e64646;
$color-blue: #103780;
$color-light-blue: #3974e0;
$color-black-22: #222222;

$color-grey: #F1F1F1;

$color-bg: #fafafc;

$color-header-icon-bg: #1c1c1d;
$color-header-badge-bg: #ff3347;

$gray-text: rgba(0, 0, 0, 0.4);

$color-input-border-inactive: #eff0f3;

$color-button-icon-check: #74c335;
$color-button-icon-cross: #6abc28;

$color-gradient-1: #7dd27c;
$color-gradient-2: #fee600;
$color-gradient-3: #fcb664;
$color-gradient-4: #f46363;

$color-gradient-salary-1: #FFEB38;
$color-gradient-salary-2: #B7EA65;
$color-gradient-salary-3: #74c335;

$color-switcher-bg: #d5d5d6;

$color-badge-bg: #323232;
$color-badge-inactive: #ebebeb;

$color-popup-overlay: rgba(0, 0, 0, 0.4);
$color-text-popup: rgba(255, 255, 255, 0.6);
$color-close-popup: rgba(255, 255, 255, 0.1);

$color-tooltip-shadow: rgba(0, 0, 0, 0.08);
$color-material-sharow: rgba(174, 174, 178, 0.16);

$color-button-inactive: #99a2ad;

$color-skill-dot-separator: #1a1b22;

$color-icon-hide: rgba(255, 255, 255, 0.9);

$slider-bg: #f6f6f6;
$slider-text-color: #2b2d33;
$slider-steps-color: hsla(0, 0%, 0%, 0.1);

$back-arrow-bg: #2b2d331a;


$subs-gray-text: rgba(43, 45, 51, 0.4);
$subs-red-text: #e84e3d;
$subs-link-text-gray: rgba(43, 45, 51, 0.3);
$back-arrow-bg: #2b2d331a;

$dropzone-bg: #f6f6f6;
$dropzone-bg-active: #ececec;

$range-gutter: #f8f8f8;
$custom-input-select: #F7F8FA;

