$color-black: #000000;
$color-light-blue: #3974e0;
$color-blue: #103780;
$green: #12f112;
$color-button-green: rgba(20, 225, 53, 0.2);
$color-button-shadow-green: 0px 0px 8px 0px rgba(20, 225, 53, 0.2);
$color-button-shadow--yellow: 0px 0px 8px 0px rgba(20, 225, 53, 0.4);