// example from RUSVINIL

@import 'asserts/scss/helpers/helpers';
@import 'asserts/scss/colors';


html {
  font-family: 'SFPROText', sans-serif;
  font-size: 14px;
  color: $color-black;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  overflow-x: hidden;
}

a {
  display: block;
  color: $color-light-blue;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  width: 100%;

  &:hover {
    color: $color-blue;
    cursor: pointer;
  }
}

button, input, select {
  font-family: inherit;
}

.display-none {
  display: none;
}

.opacity-0 {
  opacity: 0;
}

.wrapper {
  width: 100%;
}


.ant-image-mask {
  border-radius: 50%;
}






