.hero {
  width: 100%;
  max-width: 1170px;
  border: 1px solid red;
  display: flex;
  justify-content: space-around;

  &__wrapperImage {
    width: max-content;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px rgb(139 246 157 / 60%);

    &_image img {
      border-radius: 50%;
    }

    & div {
      border-radius: 50%;

      &:hover {
        border-radius: 50%;
      }
    }
  }

  &__description {
    display: flex;
    flex-direction: column;


    .title {
      font-size: 38px;
      line-height: 44px;
      margin-bottom: 20px;
      font-weight: 700;
    }

    .subTitle {

      margin-bottom: 20px;
      font-weight: 500;

      &__directions {
        margin-bottom: 10px;
        font-size: 22px;
      }

      &__stack {
        font-size: 22px;
        opacity: .6;
      }
    }
  }

  &__contacts {

  }
}