@import 'asserts/scss/colors';
@import 'asserts/scss/screens';

.hero {
  width: 100%;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: $tablet) {
    align-items: center;
  }

  @media screen and (max-width: $mobile) {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__wrapperImage {
    width: max-content;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px rgb(139 246 157 / 60%);

    @media screen and (max-width: $tablet) {
      margin-bottom: 20px;
      box-shadow: none;
    }

    &_image img {
      border-radius: 50%;
    }

    & div {
      border-radius: 50%;

      &:hover {
        border-radius: 50%;

        @media screen and (max-width: $tablet) {
          border: none;
        }
      }
    }
  }

  &__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    
    @media screen and (max-width: $tablet) {
      margin-left: 50px;
    }

    @media screen and (max-width: $mobile-small) {
      margin-left: 0;
    }
    @media screen and (max-width: $mobile) {
      margin-left: 0;
    }


    .title {
      font-size: 38px;
      line-height: 44px;
      margin-bottom: 20px;
      font-weight: 700;

      @media screen and (max-width: $mobile-small) {
        text-align: center;
        font-size: 23px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      @media screen and (max-width: $tablet) {
        text-align: center;
        font-size: 26px;
        line-height: 24px;
        margin-bottom: 20px;
      }
    }

    .subTitle {
      margin-bottom: 20px;
      font-weight: 500;

      &__directions {
        margin-bottom: 10px;
        font-size: 22px;

        @media screen and (max-width: $tablet) {
          font-size: 18px;
          text-align: center;
        }
      }

      &__stack {
        font-size: 22px;
        opacity: .6;
        @media screen and (max-width: $tablet) {
          font-size: 18px;
          text-align: center;
        }
      }
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__icon {
      width: 26px;
      height: 26px;
    }

    &__item {
      display: flex;
      font-size: 14px;
      line-height: 20px;
      margin-bottom: 10px;

      &_link {
        font-size: 18px;
        line-height: 20px;
        font-weight: 500;
        margin-left: 15px;
        display: inline-block;
        color: $color-black;

        &::after {
          content: '';
          width: 0;
          height: 1px;
          display: block;
          background: $color-black;
          transition: 300ms;
        }

        &:hover::after {
          width: 100%;
        }

        &:hover {
          text-decoration: none;
          transition: all .5s ease;
        }
      }

      &:hover {
        opacity: .7;
        transition: all .5s ease;
      }
    }
  }
}