// example constants for animation
$fast: 0.2s;
$moderate: 0.3s;
$slow: 0.5s;
$very-slow: 0.7s;

$header-height: 140px;

$form-width: 300px;
$form-width-email: 360px;
$checkbox-icon-size: 20px;
$checkbox-height: 40px;

$form-width-telegram: 360px;
$header-width-telegram: 400px;

$border-radius: 8px;
$border-radius-xs: 6px;

$input-height: 40px;

$progress-height: 8px;

$slider-size: 15px;

$switcher-width: 40px;
$switcher-height: 25px;
$switcher-border-radius: 25px;

$fullscreen-width: 100vw;
$fullscreen-height: 100vh;
$full: 100%;

$card-width: 300px;
$card-grid-gap: 40px;

$competence-description-width: 860px;
$spec-description-width: 810px;

$specialization-description-width: 860px;

$radius-circle: 50%;

$select-width: 75%;

$popup-close-size: 36px;
$popup-close-margins: 28px;
$popup-info-max-width: 460px;
$popup-button-max-width: 260px;

$error-page-description-width: 370px;
$error-page-wrapper-maxWidth: 785px;

$preloader-size: 67px;
$preloader-bg-size: 70%;

$material-separator-size: 2px;

$profile-textarea-maxWidth: 860px;
$badge-size: 45px;
$profile-item-width: 245px;
$profile-header-height: 45px;

$skill-wrapper-max-height: 230px;

$admin-menu-width: 250px;
$header-button-height: 44px;

$rewiews-min-height: 360px;

$page-side-margin: 140px;

$slider-height: 500px;

$ticket-popup-width: 560px;
$ticket-popup-btn-width: 160px;
$ticket-tip-width: 190px;
$ticket-tip-height: 60px;

$back-arrow-size: 50px;

// TABLET
$page-side-margin-tab: 32px;

// Mobile
$page-side-margin-mob: 16px;

$sub-card-width: 560px;
$sub-card-row-height: 110px;
$subs-personal-link-max-width: 240px;
$subs-description-max-width: 860px;
$back-arrow-size: 50px;
