@import 'asserts/scss/helpers/helpers.scss';
@import '/asserts/scss/screens';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 0 40px;
  overflow-y: auto;
  overflow-x: hidden;
  background-size: 100%;

  &__background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -10;
    top: 0;
    background-image: url("../public/images/banner.jpg");
    background-size: 100%;
  }

  section {
    width: calc(100% - 40px);
    max-width: 1170px;
    padding: 40px 100px;
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 100%, .8);
    border-radius: 10px;
    margin-bottom: 100px;

    @media screen and (max-width: $tablet) {
      margin-bottom: 50px;
    }
  }
}


