@import 'asserts/scss/screens';
@import 'asserts/scss/colors';

.projects {
  display: flex;
  max-width: 950px;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: $tablet) {
    max-width: 730px;
  }

  &__wrapper {
    display: flex;
    max-width: 920px;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;

    @media screen and (max-width: $tablet) {
      max-width: 730px;
      align-items: start;
      margin-bottom: 18px;
      font-size: 24px;
      line-height: 22px;
    }
  }

  img {
    width: 100px;
    overflow: hidden;

    @media screen and (max-width: $desktop) {
      width: 100px;
    }

    @media screen and (max-width: $mobile-small) {
      width: 60px;
    }
  }
}

.modal {
  width: 800px !important;

  h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 30px;

    @media screen and (max-width: $mobile-small) {
      font-size: 24px;
      line-height: 22px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  }

  .experienceModal {
    display: flex;
    justify-content: space-between;

    &__image {
      width: 150px;
      height: max-content;
      transition: 1s ease-out;

      @media screen and (max-width: $tablet) {
        width: 90px;
      }

      @media screen and (max-width: $mobile-small) {
        width: 60px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: max-content;
      margin-left: 20px;

      @media screen and (max-width: $tablet) {
        width: max-content;
      }

      @media screen and (max-width: $mobile) {
        width: 300px;
      }

      @media screen and (max-width: $mobile-small) {
        width: 200px;
      }

      p {
        font-size: 18px;
        line-height: 22px;
        white-space: pre-wrap;
      }

      .site {
        display: flex;

        p {
          font-weight: 600;
        }

        &__link {
          font-size: 18px;
          line-height: 22px;
          font-weight: 500;
          display: inline-block;
          margin-left: 10px;
          color: $color-light-blue;
          width: max-content;

          &::after {
            content: '';
            width: 0;
            height: 1px;
            display: block;
            background: $color-light-blue;
            transition: 300ms;
          }

          &:hover::after {
            width: 100%;
          }

          &:hover {
            text-decoration: none;
            transition: all .5s ease;
            opacity: .7;
          }
        }
      }
    }
  }
}

