.projects {
  display: flex;
  max-width: 950px;
  justify-content: center;
  flex-direction: column;

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__title {
    margin-bottom: 30px;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
  }

  img {
    width: 100px;
    overflow: hidden;
  }
}

.modal {
  width: 800px !important;

  h3 {
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .experienceModal {
    display: flex;
    justify-content: space-between;

    &__image {
      width: 150px;
      height: max-content;
      transition: 1s ease-out;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__wrapper {
      display: flex;
      flex-direction: column;
      width: 500px;

      p{
        font-size: 18px;
        line-height: 22px;
        white-space: pre-wrap;
      }
    }
  }
}

